.error {
    grid-row: 3;
    align-self: center;
    justify-self: center;
    width: 200px;
    border-radius: 20px;
    /* #f21b3f */
    background: #e87461;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-family: "arial";
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
